# [member]
ETCD_NAME={{ etcd_name }}
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_LISTEN_PEER_URLS="https://{{ inventory_hostname }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ inventory_hostname }}:2379"

#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ inventory_hostname }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ cluster_token }}"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ inventory_hostname }}:2379"
ETCD_INITIAL_CLUSTER="{{ etcd_cluster }}"
ETCD_CLUSTER_STATE="new"
